<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_kodi_launcher"
        android:banner="@mipmap/ic_kodi_banner"
        android:label="Kodi Proxy">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="org.xbmc.kodi" />
    </queries>

    <uses-feature 
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature 
        android:name="android.software.leanback"
        android:required="false" />
</manifest>
